SIGN UP PAGE BITCHES

<form method = "POST" action = "/accounts/signup/">
    {% csrf_token %}
    <p>
    {{form.first_name.label}}
    {{form.first_name}}
    </p>
    <p>
    {{form.last_name.label}}
    {{form.last_name}}
    </p>

    <p>
    {{form.username.label}}
    {{form.username}}
    </p>

    <p>
    {{form.email.label}}
    {{form.email}}
    </p>

    <p>
        {{profile_form.phone.label}}
        {{profile_form.phone}}
        </p>
        <p >
            {{profile_form.address.label}}
            {{profile_form.address}}
            </p>

    <p>
    {{form.password1.label}}
    {{form.password1}}
    </p>

    <p>
    {{form.password2.label}}
    {{form.password2}}
    </p>

    <p>
    <input type="submit" value="Signup">
    </p>
    <p>Already have an account? <a href="{% url 'accounts:login' %}" class="">Login</a> </p>

</form>